.description {
    white-space: break-spaces;
    padding-bottom: 15px;
}

h2{
  font-size: 50px;
}

.imgDetail{
  width:40%;
  height: auto;
  background: black;

}


.itemDetail{
    margin-top: 20px;
    padding: 2px 16px;
    list-style: none outside;
    text-align: center;
    border: black;
    border-width: 15px;
    border-radius: 15px; 

}